[Unit]
Description=pmacct BMP Collector Daemon
Wants=network.target
After=network.target
ConditionPathExists=/etc/pmacct/pmbmpd.conf

[Service]
ExecStart=/usr/local/sbin/pmbmpd -f /etc/pmacct/pmbmpd.conf 

[Install]
WantedBy=multi-user.target
